{% extends 'main.html' %}

{% block content %}

{% if page.type == 'tag' %}<h3>Tag: {{ page.term }}</h3>{% endif %}
{% if page.type == 'category' %}<h3>Category: {{ page.term }}</h3>{% endif %}
{% if page.type == 'yearly' %}<h3>Year: {{ page.date | date("Y") }}</h3>{% endif %}
{% if page.type == 'monthly' %}<h3>Month: {{ page.date | date("F Y") }}</h3>{% endif %}
{% if page.type == 'daily' %}<h3>Date: {{ page.date | date("j F Y") }}</h3>{% endif %}

{% for post in page.posts %}
<div class="blog-post">
  <h2 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="blog-post-meta">
  {{ post.date | date("F j, Y") }}.
  Categories:
  {% for cat in post.categories %}
  <a href="/category/{{ cat | url_slug }}/" title="{{ cat }}">{{ cat }}</a>{% if not loop.last %}, {% endif %}
  {% endfor %}
  </p>

  {{ post.content | cut(post.url, "Read more") }}
</div><!-- /.blog-post -->
{% endfor %}

<ul class="pager">
  {% if page.previousPage %}
  <li><a href="{{ page.prefix }}{% if page.previousPage > 1 %}/page/{{ page.previousPage }}{% endif %}/">Previous</a></li>
  {% endif %}
  {% if page.nextPage %}
  <li><a href="{{ page.prefix }}/page/{{ page.nextPage }}/">Next</a></li>
  {% endif %}
</ul>
{% endblock %}