<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" version="2.0">
<channel>
      <title>{{ site.title }}</title>
      <atom:link href="{{ site.url }}/feed/" rel="self" type="application/rss+xml"/>
      <link>{{ site.url }}</link>
      <description></description>
      <lastBuildDate>{{ site.time | date('r') }}</lastBuildDate>
      <language>ru</language>
      <sy:updatePeriod>hourly</sy:updatePeriod>
      <sy:updateFrequency>1</sy:updateFrequency>
      {% for post in page.posts %}
          <item>
          <title>{{ post.title }}</title>
          <link>{{ site.url }}{{ post.url }}</link>
          <comments>{{ site.url }}{{ post.url }}#comments</comments>
          <pubDate>{{ post.date | date('r') }}</pubDate>
          <dc:creator>{{ site.author }}</dc:creator>
          <guid>{{ site.url }}{{ post.url }}</guid>
          <description>
          <![CDATA[
          {{ post.content | striptags | truncate_words(75) }} [...]
          ]]>
          </description>
          <content:encoded>
          <![CDATA[
          {{ post.content | safe }}
          ]]>
          </content:encoded>
          </item>
      {% endfor %}
</channel>
</rss>